/* ~/.config/eww/eww.scss */

$foreground: #fce9ca;
$border: $foreground;
$background: #100505;
$hover: #8F8472;

.player {
  background-color: $background;
  border: 2px solid $border;
  border-radius: 8px;
}


.player_info,
.buttons {
  background-color: $background;

  button {
    all: unset;
    color: $foreground;
    background-color: #201515;

    border: 1px solid $border;
    border-radius: 4px;

    padding: 0px 1px;
    margin: 0px 0px;

  }

  button:hover {
    color: $hover;
  }

}

// You can add styles for the song title label using its class
.song-title {
  color: #fce9ca;
  font-weight: bold;
}

.now-playing {
  margin: 4px;
  color: $foreground;
}
