@define-color border #0f111b;
@define-color foreground #0f111b;
@define-color background #f0e4ee;
@define-color active #a7a4d1;

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

window {
  border: 2px solid @border;
  border-radius: 8px;
  background-color: @background;
}

#input {
  border: 2px solid @border;
  border-radius: 8px;
  color: @foreground;
  background-color: transparent;
}

#text {
  margin: 5px;
  border: none;
  color: @foreground;
}

#entry:selected {
  border: 2px solid @border;
  background-color: transparent;
}

#entry:selected #text {
  color: @active;
}
