@define-color border #c7fbf2;
@define-color foreground #c7fbf2;
@define-color background #240e2b;
@define-color active #121636;

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

window {
  border: 2px solid @border;
  border-radius: 8px;
  background-color: @background;
}

#input {
  border: 2px solid @border;
  border-radius: 8px;
  color: @foreground;
  background-color: transparent;
}

#text {
  margin: 5px;
  border: none;
  color: @foreground;
}

#entry:selected {
  border: 2px solid @border;
  background-color: transparent;
}

#entry:selected #text {
  color: @active;
}
