@define-color border #fce9ca;
@define-color text #6e380e;
@define-color background-color #100505;
@define-color transparent rgba(0, 0, 0, 0.0);
@define-color mauve #ebc2a8;

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

window {
  border: 2px solid @border;
  border-radius: 8px;
  background-color: @background-color;
}

#input {
  border: 2px solid @border;
  border-radius: 8px;
  color: @text;
  background-color: transparent;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry:selected {
  border: 2px solid @border;
  background-color: @transparent;
}

#entry:selected #text {
  color: @mauve;
}
