/**
 * @name Dark Neon
 * @author Bates (and Matercan)
 * @version 3.0.0
 * @source https://gitlab.com/B4T3S/bates-discord-theme
 * @website https://B4T3S.gitlab.io/bates-discord-theme/
 * @donate https://www.paypal.com/paypalme/floriancegledi
 * @patreon https://patreon.com/bates
 * @description A dark theme with bright neon-y colors, now with more options!
 * @authorId 137259132305539072
 * @invite 6qd3SkP6Ch
*/


::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
  font-family: "Roboto";
}

:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --highlight: rgb(var(--rgb-highlight));
  --rgb-background: 0, 0, 0;
  --background: rgb(var(--rgb-background));
  --rgb-text: 197, 200, 198;
  --text: rgb(var(--rgb-text));
  --rgb-close-button: 212, 18, 39;
  --close-button: rgb(var(--rgb-close-button));
  --rgb-online-color: 57, 255, 20;
  --online-color: rgb(var(--rgb-online-color));
  --rgb-afk-color: 255, 255, 51;
  --afk-color: rgb(var(--rgb-afk-color));
  --rgb-dnd-color: 255, 0, 0;
  --dnd-color: rgb(var(--rgb-dnd-color));
  --rgb-streaming-color: 188, 19, 254;
  --streaming-color: rgb(var(--rgb-streaming-color));
  --scrollbar-thin-thumb: var(--highlight);
  --scrollbar-auto-thumb: var(--highlight);
  --scrollbar-auto-scrollbar-color-thumb: var(--highlight);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-track: transparent;
  --transition-time: .3s;
  --background-image: unset;
  --background-position: center;
  --background-size: cover;
  --background-blur: 5px;
  --background-brightness: 100%;
  --background-primary: rgba(var(--background), 20%);
  --background-mobile-primary: rgba(var(--background), 20%);
  --background-secondary: rgba(var(--background), 20%) !important;
  --background-mobile-secondary: rgba(var(--background), 20%);
  --background-secondary-alt: rgba(var(--background), 20%);
  --background-tertiary: rgba(var(--background), 20%);
  --background-accent: rgba(var(--background), 20%);
  --background-floating: rgba(var(--background), 20%);
  --background-nested-floating: rgba(var(--background), 20%);
  --background-modifier-accent: rgba(var(--rgb-highlight), 20%);
  --background-modifier-hover: rgba(var(--rgb-highlight), 10%);
  --background-modifier-active: rgba(var(--rgb-highlight), 30%);
  --background-modifier-selected: var(--rgb-highlight);
  --background-base-lowest: rgba(var(--background), 20%);
  --background-base-low: rgba(var(--background), 20%);
  --background-base-lower: rgba(var(var(--background)), 20%);
  --background-surface-high: rgba(var(--background), 20%);
  --modal-background: rgba(var(--background), 20%);
  --modal-footer-background: rgba(var(--background), 20%);
  --background-floating: rgba(var(--background), 20%);
  --bg-surface-overlay: rgba(var(--background), 20%);
  --activity-card-background: rgba(var(--background), 20%);
  --header-primary: rgb(var(--rgb-highlight));
  --header-secondary: rgb(var(--rgb-highlight));
  --chat-background: var(--background);
  --chat-border: transparent;
  --chat-input-container-background: var(--background);
  --spoiler-hidden-background: var(--highlight);
  --spoiler-revealed-background: rgba(var(--rgb-highlight), 20%);
  --input-background: var(--background);
  --textbox-markdown-syntax: var(--highlight);
  --logo-primary: var(--highlight);
  --control-brand-foreground: var(--highlight);
  --control-brand-foreground-new: var(--highlight);
  --background-mentioned: rgba(var(--rgb-highlight), 30%);
  --background-mentioned-hover: rgba(var(--rgb-highlight), 40%);
  --background-message-hover: rgba(var(--rgb-highlight), 10%);
  --background-message-highlight: rgba(var(--rgb-highlight), 30%);
  --background-message-highlight-hover: rgba(var(--rgb-highlight), 40%);
  --background-message-automod: rgba(var(--rgb-highlight), 20%);
  --background-message-automod-hover: rgba(var(--rgb-highlight), 40%);
  --channeltextarea-background: var(--background);
  --text-link: var(--highlight);
  --text-link-low-saturation: rgba(var(--rgb-highlight), 50%);
  --text-positive: var(--online-color);
  --text-warning: var(--afk-color);
  --text-danger: var(--dnd-color);
  --text-brand: var(--highlight);
  --text-normal: var(--text);
  --text-muted: var(--text);
  --button-danger-background-disabled: rgba(var(--rgb-close-button), 20%);
  --button-danger-background: rgba(var(--rgb-close-button), 20%);
  --button-danger-background-hover: rgba(var(--rgb-close-button), 70%);
  --button-danger-background-active: rgba(var(--rgb-close-button), 100%);
  --button-outline-danger-border: rgba(var(--rgb-close-button), 50%);
  --button-outline-danger-background: rgba(var(--rgb-close-button), 50%);
  --button-outline-danger-background-hover: rgba(var(--rgb-close-button), 70%);
  --button-outline-danger-background-active: rgba(var(--rgb-close-button), 100%);
  --button-outline-danger-text: rgba(var(--rgb-close-button), 50%);
  --button-outline-danger-text-hover: rgba(var(--rgb-close-button), 70%);
  --button-outline-danger-text-active: rgba(var(--rgb-close-button), 100%);
  --button-outline-danger-border-hover: rgba(var(--rgb-close-button), 70%);
  --button-outline-danger-border-active: rgba(var(--rgb-close-button), 100%);
  --button-positive-background-disabled: rgba(var(--rgb-online-color), 20%);
  --button-positive-background: rgba(var(--rgb-online-color), 20%);
  --button-positive-background-hover: rgba(var(--rgb-online-color), 70%);
  --button-positive-background-active: rgba(var(--rgb-online-color), 100%);
  --button-outline-positive-border: rgba(var(--rgb-online-color), 50%);
  --button-outline-positive-background: rgba(var(--rgb-online-color), 50%);
  --button-outline-positive-background-hover: rgba(var(--rgb-online-color), 70%);
  --button-outline-positive-background-active: rgba(var(--rgb-online-color), 100%);
  --button-outline-positive-text: rgba(var(--rgb-online-color), 50%);
  --button-outline-positive-text-hover: rgba(var(--rgb-online-color), 70%);
  --button-outline-positive-text-active: rgba(var(--rgb-online-color), 100%);
  --button-outline-positive-border-hover: rgba(var(--rgb-online-color), 70%);
  --button-outline-positive-border-active: rgba(var(--rgb-online-color), 100%);
  --button-primary-background-disabled: rgba(var(--rgb-highlight), 20%);
  --button-primary-background: rgba(var(--rgb-highlight), 20%);
  --button-primary-background-hover: rgba(var(--rgb-highlight), 70%);
  --button-primary-background-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-primary-border: rgba(var(--rgb-highlight), 50%);
  --button-outline-primary-background: rgba(var(--rgb-highlight), 50%);
  --button-outline-primary-background-hover: rgba(var(--rgb-highlight), 70%);
  --button-outline-primary-background-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-primary-text: rgba(var(--rgb-highlight), 50%);
  --button-outline-primary-text-hover: rgba(var(--rgb-highlight), 70%);
  --button-outline-primary-text-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-primary-border-hover: rgba(var(--rgb-highlight), 70%);
  --button-outline-primary-border-active: rgba(var(--rgb-highlight), 100%);
  --button-secondary-background-disabled: rgba(var(--rgb-highlight), 20%);
  --button-secondary-background: rgba(var(--rgb-highlight), 20%);
  --button-secondary-background-hover: rgba(var(--rgb-highlight), 70%);
  --button-secondary-background-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-secondary-border: rgba(var(--rgb-highlight), 50%);
  --button-outline-secondary-background: rgba(var(--rgb-highlight), 50%);
  --button-outline-secondary-background-hover: rgba(var(--rgb-highlight), 70%);
  --button-outline-secondary-background-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-secondary-text: rgba(var(--rgb-highlight), 50%);
  --button-outline-secondary-text-hover: rgba(var(--rgb-highlight), 70%);
  --button-outline-secondary-text-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-secondary-border-hover: rgba(var(--rgb-highlight), 70%);
  --button-outline-secondary-border-active: rgba(var(--rgb-highlight), 100%);
  --button-brand-background-disabled: rgba(var(--rgb-highlight), 20%);
  --button-brand-background: rgba(var(--rgb-highlight), 20%);
  --button-brand-background-hover: rgba(var(--rgb-highlight), 70%);
  --button-brand-background-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-brand-border: rgba(var(--rgb-highlight), 50%);
  --button-outline-brand-background: rgba(var(--rgb-highlight), 50%);
  --button-outline-brand-background-hover: rgba(var(--rgb-highlight), 70%);
  --button-outline-brand-background-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-brand-text: rgba(var(--rgb-highlight), 50%);
  --button-outline-brand-text-hover: rgba(var(--rgb-highlight), 70%);
  --button-outline-brand-text-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-brand-border-hover: rgba(var(--rgb-highlight), 70%);
  --button-outline-brand-border-active: rgba(var(--rgb-highlight), 100%);
  --button-filled-brand-background: rgba(var(--rgb-highlight), 20%);
  --button-filled-brand-background-hover: rgba(var(--rgb-highlight), 70%);
  --button-filled-brand-background-border: rgba(var(--rgb-highlight), 50%);
  --button-filled-brand-background-active: rgba(var(--rgb-highlight), 100%);
  --button-outline-danger-text: var(--rgb-text);
  --button-outline-danger-text-hover: var(--rgb-text);
  --button-outline-danger-text-active: var(--rgb-text);
  --search-popout-option-user-nickname: var(--highlight);
  --search-popout-option-user-username: rgba(var(--rgb-highlight), 70%);
  --search-popout-option-filter-text: rgba(var(--rgb-highlight), 70%);
  --search-popout-date-picker-border: 1px solid var(--highlight);
  --interactive-muted: rgba(var(--rgb-highlight), 20%);
  --interactive-normal: rgba(var(--rgb-highlight), 50%);
  --interactive-hover: rgba(var(--rgb-highlight), 100%);
  --interactive-active: var(--highlight);
  --status-danger: var(--dnd-color);
  --status-warning: var(--afk-color);
  --status-positive: var(--online-color);
  --profile-gradient-primary-color: var(--rgb-background);
  --profile-gradient-secondary-color: var(--rgb-background);
  --bg-brand: var(--highlight);
  --brand-experiment: var(--highlight);
  --brand-experiment-100: var(--highlight);
  --brand-experiment-130: var(--highlight);
  --brand-experiment-160: var(--highlight);
  --brand-experiment-200: var(--highlight);
  --brand-experiment-230: var(--highlight);
  --brand-experiment-260: var(--highlight);
  --brand-experiment-300: var(--highlight);
  --brand-experiment-330: var(--highlight);
  --brand-experiment-360: var(--highlight);
  --brand-experiment-400: var(--highlight);
  --brand-experiment-430: var(--highlight);
  --brand-experiment-460: var(--highlight);
  --brand-experiment-500: var(--highlight);
  --brand-experiment-530: var(--highlight);
  --brand-experiment-560: var(--highlight);
  --brand-experiment-600: var(--highlight);
  --brand-experiment-630: var(--highlight);
  --brand-experiment-660: var(--highlight);
  --brand-experiment-700: var(--highlight);
  --brand-experiment-730: var(--highlight);
  --brand-experiment-760: var(--highlight);
  --brand-experiment-800: var(--highlight);
  --brand-experiment-830: var(--highlight);
  --brand-experiment-860: var(--highlight);
  --brand-experiment-900: var(--highlight);
  --brand-experiment-930: var(--highlight);
  --brand-experiment-960: var(--highlight);
  --brand-experiment-05a: var(--highlight);
  --brand-experiment-10a: var(--highlight);
  --brand-experiment-15a: var(--highlight);
  --brand-experiment-20a: var(--highlight);
  --brand-experiment-25a: var(--highlight);
  --brand-experiment-30a: var(--highlight);
  --brand-experiment-35a: var(--highlight);
  --brand-experiment-40a: var(--highlight);
  --brand-experiment-45a: var(--highlight);
  --brand-experiment-50a: var(--highlight);
  --brand-experiment-55a: var(--highlight);
  --brand-experiment-60a: var(--highlight);
  --brand-experiment-65a: var(--highlight);
  --brand-experiment-70a: var(--highlight);
  --brand-experiment-75a: var(--highlight);
  --brand-experiment-80a: var(--highlight);
  --brand-experiment-85a: var(--highlight);
  --brand-experiment-90a: var(--highlight);
  --brand-experiment-95a: var(--highlight);
  --primary-630: var(--background);
  --border-faint: transparent;
  --border-subtle: transparent;
  --app-border-frame: transparent;
  --background-modifier-accent: rgb(var(--rgb-highlight));
}

#private-channels [href="/discovery"] {
  display: none;
}

#private-channels [href="/library"] {
  display: none;
}

#private-channels [href="/store"] {
  display: none;
}

.accountProfileCard__1fed1 {
  background-color: transparent;
}

.accountProfileCard__1fed1 {
  background-color: transparent !important;
}

.background__1fed1 {
  padding: 0;
  background-color: transparent !important;
  border-radius: 30px;
}

.background__1fed1 .profile_d6fbe8 {
  padding: 16px;
}

.background__1fed1 .fieldList__1fed1 {
  padding: 16px;
  background-color: transparent !important;
}

.itemsContainer_ef3116 {
  background: transparent;
}

.content__37e49 {
  background: transparent !important;
}

/* remove side content's background and borders */
.c,
.container_c8ffbb,
.members_c8ffbb,
.container__2637a,
.chatContent_f75fb0,
.sidebarList_c48ade,
.panels_c48ade,
.privateChannels__35e86,
.scroller__99e7c,
.chat_f75fb0,
.channelTextArea__74017 {
  background: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border: 0 !important;
}

/* no more stupid gradient */
.children__9293f:after,
.chatGradient__36d07,
.sidebar_c48ade:after,
.chatGradientBase__36d07 {
  background: none !important;
}

/* Set transparency of app body */
body {
  background-color: rgba(var(--background), 20%);
  background-image: var(--background-image);
  background-position: var(--background-position);
  background-size: var(--background-size);
  backdrop-filter: blur(var(--background-blur)) brightness(var(--background-brightness))
}

.wrapper__00943 {
  background-color: transparent !important;
  border: none;
}

.wrapper__00943:hover,
.wrapper__00943.active_bf1984 {
  background-color: transparent !important;
}

.wrapper__00943 .inset_bf1984 {
  background-color: transparent;
}

.wrapper__00943 .section__00943 {
  background-color: transparent;
}

.numberBadge__40d6f {
  background-color: transparent !important;
  color: var(--ocean-color2);
}

.expandedFolderBackground-1cujaW {
  background-color: transparent;
}

/* transparentize main body */
.appMount__51fd7,
.app__160d8,
.bg__960e4,
.guilds_c48ade,
.scroller_ef3116,
.sidebar_c48ade,
.sidebar_c48ade::after,
.container__2637a,
.chat_f75fb0,
.chatContent_f75fb0,
.title_f75fb0,
.searchBar__97492,
.container_c8ffbb,
.members_c8ffbb,
.member_c8ffbb,
.membersGroup_c8ffbb,
.members_c8ffbb>div,
.membersWrap_c8ffbb,
.content_f75fb0,
.container__91a9d,
.channelTextArea__74017,
.container__133bf,
.section__00943,
.nowPlayingColumn__133bf,
.container__7d20c,
.itemCard__7e549,
.section__00943,
.inset_bf1984,
.container__9293f,
.privateChannels__35e86,
.scroller__99e7c,
.layer__960e4,
.standardSidebarView__23e6b,
.sidebarRegionScroller__23e6b,
.contentRegion__23e6b,
.contentRegionScroller__23e6b,
.container__4a84a,
.stickyHeader_adb41f,
.scroller_fb04e1,
.pageWrapper_a3a4ce,
.footer__214dc,
.searchHeader_f3b986,
.messagesPopout__45690,
.tabBody__133bf {
  background: rgba(var(--background), 20%) !important;
}

.theme-dark .searchOption-351dTI .filter-5YbOzJ,
.theme-dark .searchOption-351dTI .answer-2fBfuP,
.resultsGroup-1BPR25 .header-3A13BX .searchBar-zdmu7v {
  background-color: transparent !important;
}

.container_c48ade,
.visual-refresh .sidebar_c48ade:after {
  background-color: transparent !important;
}

/* remove scrollbar */

::-webkit-scrollbar {
  width: 3px !important;
  height: 8px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border-color: transparent !important;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  border: none !important;
  background-clip: content-box !important;
  background: var(--ocean-color1) !important;
}

::-webkit-scrollbar-corner {
  visibility: hidden !important;
}

/* transparency for secondary button clicks */
.contentWrapper__08434,
.header__8ef02,
.header_fed6d3,
.header_c0e32c,
.categoryList__3ad28,
.scroller_affa7e,
.packHeader_e94b8c,
.header_c656ac,
.inspector_aeaaeb,
.emojiPicker_c0e32c,
.unicodeShortcut_b9ee0c,
#gif-picker-tab-panel {
  background-color: rgba(var(--background), 40%) !important;
}

@import url('https://B4T3S.github.io/DiscordDarkNeon/css/hideUsers.css');
/* This import adds the collapsible user-list. Remove it/comment it out to disable that feature */

/* CUSTOMIZE COLORS IN HERE! */
:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --rgb-highlight: 4, 4, 255;
  /* The main highlight color */
  --rgb-background: 255, 255, 255;
  /* The main background color */
  --rgb-text: 197, 200, 198;
  /* The main text color */
  --rgb-close-button: 212, 18, 39;
  /* The main "close this" or "deny" color */
  --rgb-online-color: 57, 255, 20;
  /* The color used in the "online" user status symbol */
  --rgb-afk-color: 255, 255, 51;
  /* The color used in the "idle" user status symbol */
  --rgb-dnd-color: 255, 0, 0;
  /* The color used in the "do not disturb" user status symbol */
  --rgb-streaming-color: 188, 19, 254;
  /* The color used in the "streaming X" user status symbol */

  --transition-time: .3s;
  /* How fast animations added by the theme happen. Default is 0.3 seconds */

  --background-image: unset;
  /* url(https://w.wallhaven.cc/full/k8/wallhaven-k8x2zd.jpg) */
  /* To add an image, replace unset with url(https://www.YOUR-URL-HERE.com) */

  --background-position: center;
  /* Positions the background image */
  --background-size: cover;
  /* Scales the background image */
  --background-blur: 10px;
  /* Blurs the image which helps with readability of text infront of it */
  --background-brightness: 75%;
  /* Changes the background images brightness */
}
