/**
 * @name Gliss
 * @author Matercan
 * @version 1.0.0
 * @source https://github.com/Matercan/Gliss
 * @description An elegant dignified curated transparent better discord theme
 * @authorId 777170937682329601
*/


@import "https://raw.githubusercontent.com/Matercan/Gliss/refs/heads/main/main.css";

/* CUSTOMIZE COLORS IN HERE! */
:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --rgb-highlight: 245, 97, 231;
  /* The main highlight color */
  --rgb-background: 30, 30, 46;
  /* The main background color */
  --rgb-text: 205, 214, 244;
  /* The main text color */
  --rgb-close-button: 166, 227, 161;
  /* The main "close this" or "deny" color */
  --rgb-online-color: 166, 227, 161;
  /* The color used in the "online" user status symbol */
  --rgb-afk-color: 249, 226, 175;
  /* The color used in the "idle" user status symbol */
  --rgb-dnd-color: 243, 139, 168;
  /* The color used in the "do not disturb" user status symbol */
  --rgb-streaming-color: 245, 194, 231;
  /* The color used in the "streaming X" user status symbol */

  --transition-time: .3s;
  /* How fast animations added by the theme happen. Default is 0.3 seconds */
}
